# todo : setting up full configuration
# guzzle client config
client:
    base_url: 'https://api.my-awesome-application.com/'
    version: 1
    defaults:
        timeout: 10
        allow_redirects: false
        headers:
            user_agent: 'my-awesome-application-sdk-php/1.0'
            content_type: 'application/json; charset=utf-8'

# path to guzzle description file
description_file_path: '/path/to/api_description.yml'

